
<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
	
<head>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons"	rel="stylesheet">
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cadastro Login</title>	
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="/materialize/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
    <link href="/materialize/css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
	<link type="text/css" rel="stylesheet"	href="/materialize/css/personalizado.css" media="screen,projection" />
</head>



<body>



    <nav class="#26a69a teal lighten-1" role="navigation">
    <div class="nav-wrapper">
      <a id="logo-container" href="/" class="brand-logo">Robinson - Java</a>
      <ul class="right hide-on-med-and-down">
        <li><a href="/">Início</a></li>
        <li><a href="/logout">Logout</a></li>        
      </ul>

      <ul id="nav-mobile" class="sidenav">
        <li><a href="/">Início</a></li>
        <li><a href="/logout">Logout</a></li> 
      </ul>
      <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
    </div>
  </nav>

  <div class="container">
  

  
  
  
    <div class="section">
    
    <br />
    	<h5>Crie abaixo seu login e defina sua permissão.</h5>
		<div class="divider"></div>
	<br />	
		<form action="salvaNovoLogin" method="post">

			<div class="row">

				<div class="col s6">
					<label class="active input-field" for="email">Email:</label>
					<input type="text" id="email" name="email" class="validate"/>
				</div>

				<div class="input-field col s6">
					<select name="usuario_role" multiple>
						<option value="ROLE_USER" selected>User</option>
						<option value="ROLE_ADMIN">Admin</option>
						<option value="ROLE_GERENTE">Gerente</option>
						<option value="ROLE_CAIXA">Caixa</option>
					</select> 
					<label>Role</label> 
				</div>

				<div class="input-field col s6">

						<label class="active" for="login">Login:</label> 
						<input type="text" id="login" name="login" class="validate"> 
				</div>

				<div class="input-field col s6">
						<label class="active" for="senha">Senha:</label> 
						<input type="text" id="senha" name="senha" class="validate">
				</div>

				<br /> 
				<input type="submit" value="Adicionar Usuario"	class="waves-light btn #26a69a teal lighten-1"></input> <br />
			</div>
		</form>

  
  <div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
      <div class="container">
        <div class="row center">
          <h5 class="header col s12 light">Login Seguro e Criptografado</h5>
        </div>
      </div>
    </div>
    <div class="parallax"><img src="/materialize/images/background1.jpg" alt="Unsplashed background img 2"></div>
  </div>




  <div class="container">
    <div class="section">

      <!--   Icon Section   -->

     <div class="row">
        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center #ffd180 orange accent-1"><i class="material-icons">flash_on</i></h2>
            <h5 class="center">Rápido Intuitivo</h5>

            <p class="light">Usuário e login fáceis de cadastrar.</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center #ffd180 orange accent-1"><i class="material-icons">group</i></h2>
            <h5 class="center">Login Pessoal</h5>

            <p class="light">Elementos restritos à alguns usuários</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center #ffd180 orange accent-1"><i class="material-icons">settings</i></h2>
            <h5 class="center">Spring Security</h5>

            <p class="light">Configuração de segurança padrão de mercado.</p>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col s12 center">
          <h3><i class="mdi-content-send brown-text"></i></h3>
          <h4>Contate-me</h4>
          <p class="left-align light">Descubra como o poder da computação Java, e seu framework Spring podem ajudá-lo em seu negócio. Descreva seu cenário e encontre novas possibilidades.</p>
        </div>
      </div>

    </div>
  </div>


  <div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
      <div class="container">
        <div class="row center">
          <h5 class="header col s12 light">Moderno e responsivo front-end basedo em Material Design</h5>
        </div>
      </div>
    </div>
    <div class="parallax"><img src="/materialize/images/background3.jpg" alt="Unsplashed background img 3"></div>
  </div>

  <footer class="page-footer teal">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">Bio do Desenvolvedor</h5>
          <p class="grey-text text-lighten-4">Desenvolvedor Java Spring. Apaixonado por programação.</p>


        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Settings</h5>
          <ul>
            <li><a class="white-text" href="#!">Link 1</a></li>
            <li><a class="white-text" href="#!">Link 2</a></li>
            <li><a class="white-text" href="#!">Link 3</a></li>
            <li><a class="white-text" href="#!">Link 4</a></li>
          </ul>
        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Connect</h5>
          <ul>
            <li><a class="white-text" href="#!">Link 1</a></li>
            <li><a class="white-text" href="#!">Link 2</a></li>
            <li><a class="white-text" href="#!">Link 3</a></li>
            <li><a class="white-text" href="#!">Link 4</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">    Made by <a class="brown-text text-lighten-3" href="/">Robinson</a>
      </div>
    </div>
  </footer>
  
  
  
  
  
</div>
	</div>
  <!--  Scripts-->
  	<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
 	<script src="/materialize/js/init.js"></script>
	<script type="text/javascript" src="/materialize/js/materialize.min.js"></script>
	
	
	
	
	<script>
	 $(document).ready(function(){
		    $('select').formSelect();
		  });
	</script>

  

  </body>
</html>